.big-badge {
  // default padding
  padding: 10px 35px;
  border-radius: 50px;
  background-color: $badgeBg;
  width: fit-content;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  word-wrap: normal;
  color: $blue;
}