.footer {
  background-color: $footerBg;
  padding: 60px 0 80px;
  color: $words;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__main {
    max-width: 240px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }
  &__img {
    margin-bottom: 20px;
    height: 36px;
  }
  &__desc {
    margin-bottom: 17px;
    line-height: 1.56;
  }
  &__social {
    display: flex;
    align-items: center;
  }
  &__social-item {
    margin-right: 20px;
    list-style-type: none;
  }
  &__social-link {
    svg {
      path {
        transition: all 0.3s ease-in;
      }
    }
    &:hover {
      
    }
  }
  &__links {
    display: flex;
  }
  &__list + ul {
    margin-left: 90px;
  }
  &__list-title {
    margin-bottom: 20px;
    list-style-type: none;
    h4 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: $words;
    }
  }
  &__list-item {
    list-style-type: none;
    margin-bottom: 10px;
    
    a {
      text-decoration: none;
      color: $words;
    }
  }
}