.main {
  display: block;
  height: 450px;
  height: fit-content;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $backgroundPrimary;
  &-content {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}