.main {
  display: block;
  height: 450px;
  height: fit-content;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 1 !important;

  &-content {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }
}