header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  margin: 0 auto;
  background-color: rgba($color: $backgroundPrimary, $alpha: .8);
  backdrop-filter: blur(10px);
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
  &-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    &_link {

      a {
        width: fit-content;
        cursor: pointer;
        text-decoration: none;
        margin-right: 36px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: $words;
        opacity: 0.5;

        img {
          margin-right: 8px;
          display: none;
        }
        
        &:hover {
          opacity: 1;
        }
        
      }
    }
  }
}
  
}

