header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 99;

  .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  &-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    &_link {
      a {
        cursor: pointer;
        text-decoration: none;
        margin-right: 36px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: white;
        opacity: 0.8;

        img {
          margin-right: 8px;
        }

        &:hover {
          opacity: 1;
        }
      }
      
    }

  }
  
}

}

