.search {
  margin-top: 20px;
  display: inline;

  &-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: $bigTitle;
    position: relative;
    z-index: 2;
    display: inline;
  }

  &-content {
    position: relative;

    &>img {
      position: absolute;
      z-index: 0;
      right: -75px;
      top: -75px;
    }
    .input {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      margin-top: 10px;
      height: 42px;
      background: $words;
      border-radius: 21px;
      position: relative;
      z-index: 2;

      input {
        background: transparent;
        width: 100%;
        outline: none;
        border: none;
        padding: 12px 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        
        &::placeholder {
          color: $noActive;
        }

        &:active {
          border: none;
        }
      }

      img {
        cursor: pointer;
        margin-right: 4px;
        padding: 8px 12px;
        border-radius: 19px;
        background-color: $blue;
        &:active {
          transform: scale(.9);
        }
      }
      
    }

    .btn-group {
      display: flex;
      flex-direction: row;
      margin-top: 20px;

      .btn {
        cursor: pointer;
        margin-right: 60px;
        color: $words;
        background: none;
        border: none;
        display: flex;
        flex-direction: row;

        img {
          margin-right: 10px;
        }
      }

      

    }
    ul {
        transition: all 1s ease;
        cursor: pointer;
        margin-top: 10px;
        position: absolute;
        z-index: 10;
        background-color: $words;
        border-radius: 5px;
        box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 19%);
        li {
          
          padding: 5px 10px;
          color: $blue;
          list-style-type: none;
          margin: 0;
        }
        
      }
  }
}


