.search {

  &-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: var(--title)
  }

  input {
    margin-top: 10px;
    width: 573px;
    height: 42px;
    background: #FFFFFF;
    border-radius: 21px;
    outline: none;
    border: none;
    padding: 12px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #5994D1;
    &:active {
      border: none;
    }
  }
}