.study {
  padding: 80px 0;
  background-color: $words;
  display: block;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
  flex: 1;
  &-card {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  
}