.study {
  padding: 80px 0;
  background-color: #ffffff;
  display: block;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
  height: 850px;
  flex: 1;
}