.main {
  position: relative;
  z-index: 2;
  margin-top: 60px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: fit-content;
  background-position: center;
  
  
  &-content {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}