.main {
  position: relative;
  z-index: 2;
  height: fit-content;

  &-bg {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  &-content {
    position: relative;
    z-index: 10;
  }
}