.admin {
  background: #FFFFFF;
  display: grid; 
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  .aside {
    padding: 20px;
    width: 100%;
    background-color: #16171B;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .logo {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      &> img {
        height: 36px;
      }
      p {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
      }
    }
    
    &-tabs {
      margin-top: 40px;
      &-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 25px 0;
        padding: 12px 62px 12px 12px;
        p {
          margin-left: 12px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #FDFFFF;
        }
        &.active {
          background: #282A2C;
          border-radius: 12px;
        }
      }
    }
  }
  .main {
    padding: 30px;
    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .search-bar {
        position: relative;
        display: flex;
        align-items: center;
        svg {
          position: absolute;
          left: 16px;
          cursor: pointer;
        }
        input {
          width: 45%;
          min-width: 546px;
          height: 52px;
          left: 455px;
          top: 28px;
          border: none;
          outline: none;
          background: #F3F5F7;
          border-radius: 13px;
          padding: 15px 50px;
          &::placeholder {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #ADADAD;
          }
        }
      }
      &.btn {
        cursor: pointer;
        padding: 11px 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        color: #111018;
        border: 1px solid #F5F5F5;
        border-radius: 12px;
        &-primary {
          background: #6D6DF8;
          color: #FFFFFF;
        }
      }
    }
  }
}