* {
  font-family: 'Open Sans';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --backgroundColor: #0039A4;
  --padding: 0 340px;
  --title: #ECECEC;
}

body {
  background-color: var(--backgroundColor);
}


.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: var(--padding);
}

.hide {
    display: none;
  }
  .show {
    display: block;
  }

.underline {
  text-decoration: underline;
}