* {
  font-family: 'Open Sans';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $backgroundPrimary;
}


.container {
  max-width: 1440px;
  width: 100%;
  padding: $padding;
  margin: 0 auto;
}

.show {
  
  display: block;
}
.hide {
  
  display: none;
}

@media (max-width: 991px) {
  .container {
    width: 80%;
    padding: 0;
  }
}