@media (max-width: 1280px) {
  .container {
    width: 80% !important;
    padding: 0 !important;
  }
}


@media (max-width: 767px) {
  .main {
    background-position: top !important;
    background-size: 150% !important;
  }
  .navbar {
      &-links {
        display: none !important;
      }
    }
  .button-group {
    align-items: center;
    flex-direction: column;
  }
  .search {
    &-content {
      &>img {
        display: none;
      }
    }
  }

  .topic {
    &-inner {
      flex-direction: column !important;
    }
  }

  .popular {
    &-item {
      // flex-direction: column;
      flex-wrap: wrap;
      
      ul {
        
        margin-left: 20px !important;
      }
    }
  }

  .footer {
    &__inner {
      flex-direction: column;
    }
    &__links {
      flex-direction: column;
    }
    &__list + ul{
      margin-left: 0 !important;
    }
  }
}

