$backgroundPrimary: #0039A4;
$words: #ffffff;
$noActive: #B8D1FF;
$subtText: #21244A;
$blue: #0B6DF6;
$text: #414146;
$textNoActive: #8B8B8B;
$badgeBg: #D1F1FF;
$footerBg: #202020;

$padding: 0 340px;